﻿body { background-color: #4f5563; }

/*dropdown menu*/

.dropdownMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}


.dropdown { float: right; }

.dropdown a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

    
.dropdown a:hover { background-color: #111111; }

.dropdown:hover .dropdown-content { display: block; }


.dropdown-content {
    position: absolute;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.dropdown-content li a { padding: 15px; }

/*dropdown menu end*/

.btn-default {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

form {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

label { width: 100px; }

.custom-search-input { max-width: 1000px; }

.input-background {
    background-color: white;
    width: 650px;
    min-height: 500px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.addGame {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-3 {
    background-color: white;
    border: 1px solid black;
    width: 33%;
    min-width: 33%;
    margin: 0 auto;
}

.container.row {
    width: 75%;
    min-width: 25%;
    margin-right: auto;
    margin-left: auto;
}

.picture-container { margin: 0; }

.row { margin: 0; }

.gameView { background-color: white; }

.col-xs-6 {
    border: 1px solid black;
    position: center;
}
.glyphicon-star-empty {
    color: black;
 }
.glyphicon-star-filled {
    
}