﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>Unnamed</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Styles/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav ng-controller="MenuController as vm" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/home">Unnamed</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#!/home">Home</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Genres<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="genre in vm.genres">
                        <a href="#!/home/{{genre.name}}">{{genre.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/cart">Shopping cart({{vm.shoppingCart.amount}})</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/favourite">Favourites</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/adminEditUser">Edit users</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/selling">Selling</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/addGame">Add Game</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/editUser">MyAccount</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a href="#!/orderHistory">My order history</a>
            </li>
            <li ng-show="!vm.account.isLoggedIn">
                <a href="#!/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li ng-show="!vm.account.isLoggedIn">
                <a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li ng-show="vm.account.isLoggedIn">
                <a ng-click="vm.logout()" href="#!/home"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-view>
</div>

<script src="Scripts/angular.min.js"></script>
<script src="Scripts/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="routes.js"></script>
<script src="appSettings.js"></script>

<script src="Services/loginService.js"></script>
<script src="Services/sessionService.js"></script>
<script src="Services/registerService.js"></script>
<script src="Services/genreService.js"></script>
<script src="Services/gameService.js"></script>
<script src="Services/gameCdKeyService.js"></script>
<script src="Services/cartService.js"></script>
<script src="Services/accountService.js"></script>
<script src="Services/orderService.js"></script>
<script src="Services/feedbackService.js"></script>
<script src="Services/favouriteService.js"></script>

<script src="Controllers/registerController.js"></script>
<script src="Controllers/loginController.js"></script>
<script src="Controllers/homeController.js"></script>
<script src="Controllers/gameController.js"></script>
<script src="Controllers/menuController.js"></script>
<script src="Controllers/adminEditUser.js"></script>
<script src="Controllers/editUserController.js"></script>
<script src="Controllers/sellingController.js"></script>
<script src="Controllers/baseController.js"></script>
<script src="Controllers/cartController.js"></script>
<script src="Controllers/orderHistoryController.js"></script>
<script src="Controllers/addGameController.js"></script>
<script src="Controllers/favouriteController.js"></script>


</body>
</html>