﻿<div class="input-background">
    <div class="container">
        <h1>Add Game</h1>
        <fieldset id="main_data">
            <ul>
                <li>
                    <label>
                        <b>Game name:</b>
                    </label>
                    <input type="text" name="game-name" ng-model="vm.addForm.name" placeholder="Game name" required>
                </li>
                <li>
                    <label>
                        <b>Game year:</b>
                    </label>
                    <input type="text" name="game-year" ng-model="vm.addForm.year" placeholder="Game year" required>
                </li>
                <li>
                    <label>
                        <b>Game image URL:</b>
                    </label>
                    <input type="text" name="game-image" id="game-image" ng-model="vm.addForm.frontCoverUrl" placeholder="Post image URL here" required>
                </li>
                <li id="image">
                    <br>
                    <img class="preview" src="" width="400" />
                </li>
                <li>
                    <label>
                        <b>Game genre:</b>
                    </label>
                    <p>
                        <select id="myList" ng-model="vm.selectedGenre" ng-options="genre as genre.name for genre in vm.genres"></select>
                    </p>
                </li>
            </ul>
            <div>
                <p class="help-block text-danger" ng-if="vm.addForm.errorName">{{vm.addForm.errorName}}</p>
                <p class="help-block text-danger" ng-if="vm.addForm.errorYear">{{vm.addForm.errorYear}}</p>
                <p class="help-block text-danger" ng-if="vm.addForm.errorGenre">{{vm.addForm.errorGenre}}</p>
                <p class="help-block text-danger" ng-if="vm.confirmation">{{vm.confirmation}}</p>
                <p class="help-block text-danger" ng-if="vm.error">{{vm.error}}</p>
            </div>
            <button class="btn-default" ng-click="vm.addNewGame()">Submit game</button>
        </fieldset>
    </div>
</div>