﻿<div class="input-background">
    <form role="form" ng-submit="vm.edit()">
        <h1>Edit user</h1>
        <p>User: {{username}}</p>
        <fieldset>
            <legend>Select user type</legend>
            <p>
                <label>Select: </label>
                <select id="myList">
                    <option value="1">Admin</option>
                    <option value="2">Moderator</option>
                    <option value="3">Regular</option>
                </select>
            </p>
        </fieldset>
        <button type="submit" class="btn btn-default">Edit</button>
    </form>
</div>