﻿<div class="input-background">
    <div class="container">
        <h2>Shopping cart</h2>
        {{vm.order}}
        {{vm.shoppingCart}}
        <table class="table ">

            <thead>
            <tr>
                <th>Game</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.shoppingCart.items">
                <td>{{item.gameName}}</td>
                <td>{{item.price}} USD</td>
                <td>
                    <button ng-click="vm.removeFromCart(item.gameCdKeyId)" class="glyphicon glyphicon-remove">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Sum:{{vm.sum}} USD</p>      
        <button ng-click="vm.buy()">BUY</button>
    </div>
</div>