﻿<div class="input-background">
    <form role="form" ng-submit="vm.edit()">
        <h1>Edit User: </h1>
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Old password" ng-model="vm.editForm.oldPassword">
        </div>
        <div class="form-group">
            <label for="newEmailAddress">New email address</label>
            <input type="email" class="form-control" id="newEmailAddress" placeholder="Enter new email" ng-model="vm.editForm.username">
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="New password" ng-model="vm.editForm.password">
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="newPasswordConfirm" placeholder="Confirm Password" ng-model="vm.editForm.confirmPassword">
        </div>
        <div>
            <p class="help-block text-danger" ng-if="vm.editForm.errorOldPassword">{{vm.editForm.errorOldPassword}}</p>
            <p class="help-block text-danger" ng-if="vm.editForm.errorPassword">{{vm.editForm.errorPassword}}</p>
            <p class="help-block text-danger" ng-if="vm.editForm.errorConfirmPassword">{{vm.editForm.errorConfirmPassword}}</p>
            <div class="help-block" ng-if="vm.editForm.errorNewEmail">
                <p class="text-danger">{{vm.editForm.errorNewEmail}}</p>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Edit</button>
    </form>
</div>