﻿<div class="input-background">
    <div class="container" ng-app="app" ng-controller="HomeConroller as vm">
        <div id="content" class="container-fluid text-center">
            <h1>Favourite games</h1>
            <table>
                <tbody>
                    <tr ng-repeat="favourite in vm.favourites">
                        <td>{{favourite.userId}}</td>
                        <td>{{favourite.gameId}}</td>
                        <td>
                            <button ng-click="vm.removeFavourite(favourite.favouriteId)" class="glyphicon glyphicon-remove"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>