﻿<div class="container">
    <div class="gameView">
        <h1>{{vm.game.name}}</h1>
        <div class="picture-container" style="overflow-x: auto; white-space: nowrap;">
            <div class="row text-center">
                <div ng-repeat="img in vm.game.illustrations" style="display: inline-block; float: none; margin-left: 1em; margin-right: 1em;">
                    <img ng-src="{{img.url}}" height="400" width="620" />
                </div>
            </div>
        </div>
        <h2>CD Keys</h2>
        <div class="container">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cdKey in vm.cdKeys">
                        <td>{{cdKey.gameName}}</td>
                        <td>{{cdKey.price}}</td>
                        <td>NonActive</td>
                        <td>
                            <button ng-click="vm.addToShoppingCart(cdKey)" class="glyphicon glyphicon-shopping-cart"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>SYSTEM REQUIREMENTS:</h2>
        <div class="row">
            <div class="col-xs-6" ng-repeat="req in vm.game.systemRequirements">
                <h3>{{req.systemRequirementType}}:</h3>
                <p>
                    <b>OS:</b>{{req.os}}
                </p>
                <p>
                    <b>Processor:</b>{{req.processor}}
                </p>
                <p>
                    <b>Memory:</b>{{req.memory}}
                </p>
                <p>
                    <b>Graphics:</b>{{req.graphics}}
                </p>
                <p>
                    <b>Network:</b>{{req.network}}
                </p>
                <p>
                    <b>Additional Notes:</b>{{req.additionalNotes}}
                </p>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>