﻿<div class="container" ng-app="app">
    <div id="content" class="container-fluid text-center">
        <div class="input-group input-group-lg">
            <span class="input-group-addon " id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1"  ng-model="vm.searchString">
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xs-3" ng-repeat="game in vm.games| filter : vm.searchString">
        <a href="#!/game/{{game.gameId}}">
            <div>
                <img ng-src={{game.frontCoverUrl}} height="100" width="80">
                <p>{{game.name}}</p>
                <p>Price:</p>
            </div>
        </a>
        <div>
            <button id="favourite" ng-model="vm.account.isLoggedIn" ng-click="vm.addFavourite(game.gameId)" class="glyphicon glyphicon-heart"></button>
        </div>
        <div>
            <button id="cart-item" ng-model="vm.account.isLoggedIn" ng-click="vm.addToCart(game.gameId)" class="glyphicon glyphicon-plus"></button>
        </div>
    </div>
</div>