﻿<div class="input-background">
    <form role="form" ng-submit="vm.login()">
        <h1>Log In</h1>
        <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" ng-model="vm.loginForm.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.loginForm.password">
        </div>
        <p class="help-block" ng-if="vm.loginForm.errorMessage">{{vm.loginForm.errorMessage}}</p>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>