﻿<div class="input-background">
    <div class="container">
        <h2>My order history</h2>
        {{vm.feedback}}

        <table class="table ">
            <thead ng-if="!vm.showItems">
                <tr>
                    <th>OrderId</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in vm.orders">
                    <td ng-if="!vm.showItems">{{order.orderId}}</td>
                    <td ng-if="!vm.showItems">{{order.orderDate}}</td>
                    <td ng-if="!vm.showItems">
                        <button ng-click="vm.btnClick(order)">Check items</button>
                    </td>
                    <td ng-if="vm.showItems && order === vm.selectedOrder">
                        <!--Items in order-->
                        <p>
                            <strong>Order date:</strong>{{order.orderDate}}
                            <button ng-click="vm.btnExit()" class="glyphicon glyphicon-remove"></button>
                        </p>
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ItemId</th>
                                    <th>Game name</th>
                                    <th>Seller name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order.gameCdKeysInOrder">
                                    <td>{{item.gameCdKey.$id}}</td>
                                    <td>{{item.gameCdKey.gameName}}</td>
                                    <td>{{item.gameCdKey.sellerName}}</td>
                                    <td ng-if="!vm.showFeedbackField">
                                        <button ng-click="vm.btnGiveFeedback(item)">Give feedback</button>
                                    </td>
                                    <td ng-if="vm.showFeedbackField && item===vm.selectedItem">
                                        <!--Feedback-->
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Add rating</th>
                                                    <th>Comment</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><select id="myList" ng-model="vm.selectedNumber" ng-options="number as number for number in vm.numbers"></select></td>
                                                    <td><input ng-model="vm.comment" /></td>
                                                    <td><button ng-click="vm.btnCancel()">Cancel</button></td>
                                                    <td>
                                                        <button ng-click="vm.btnAdd(item)">Add</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        </table>
    </div>
</div>