﻿<div class="input-background">
    <form role="form" ng-submit="vm.register()">
        <h1>Register</h1>
        <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" ng-model="vm.registerForm.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.registerForm.password">
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" placeholder="Confirm Password" ng-model="vm.registerForm.confirmPassword">
        </div>
        <div>
            <p class="help-block text-danger" ng-if="vm.registerForm.errorPassword">{{vm.registerForm.errorPassword}}</p>
            <p class="help-block text-danger" ng-if="vm.registerForm.errorConfirmPassword">{{vm.registerForm.errorConfirmPassword}}</p>
            <div class="help-block" ng-if="vm.registerForm.errorEmail">
                <p class="text-danger">{{vm.registerForm.errorEmail}}</p>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>