﻿<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Search" ng-model="searchString"/>
        <span class="input-group-btn">
            <button id="searchButton" class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"> </i>
            </button>
        </span>
    </div>
</div>