﻿<div class="input-background">
    <div class="container">
        <div style="border: 0" class="col-xs-6">
            <h2>My CDkeys for sale</h2>
        </div>
        <div style="border:0" class="col-xs-6 v">
            <div class="col-xs-10"></div>
            <div class="col-xs-2">
                <button ng-click="vm.barVisible = !vm.barVisible;" class="btn-default glyphicon glyphicon-plus pull-right" data-toggle="collapse"></button>
            </div>
        </div>
    </div>
    <div ng-show="vm.barVisible" class="container">
      
        <fieldset>
            <legend>Add cd-key for sale</legend>
            <p>
                <label>Select game: </label>
                <select id="myList" ng-model="vm.selectedGame" ng-options="game as game.name for game in vm.games"></select>
            </p>
            <p>
                <label>Cd key:</label>
                <input ng-model="vm.gameCdKey.cdKey" />
            </p>
            <p>
                <label>Price:</label>
                <input ng-model="vm.gameCdKey.price" />
            </p>
            <div class="container">
                <button ng-click="vm.btnCancel();" class="btn-default">Cancel</button>
                <button ng-click="vm.addCdKey()" class="btn-default">Add</button>
                
                <p class="text-danger">
                <strong>
                    {{vm.error}}
                </strong>
                </p>
            </div>
        </fieldset>
    </div>
    <div class="container">
        <table class="table ">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cdKey in vm.cdKeys">
                    <td>{{cdKey.gameName}}</td>
                    <td>{{cdKey.price}}</td>
                    <td>
                    <p ng-if ="cd.Key.IsActive">In Sale</p>
                    <p ng-if="!cd.Key.IsActive">Saled</p>
                    </td>
                    <td>
                        <button ng-click="vm.removeCdKey(cdKey.gameCdKeyId)" class="glyphicon glyphicon-remove"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Feedback</h2>
        <table class="table ">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Game cdKey id</th>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.feedback">
                    <td>{{vm.getGameName(item.)}}</td>
                    <td>{{cdKey.price}}</td>
                    <td>
                        <p ng-if="cd.Key.IsActive">In Sale</p>
                        <p ng-if="!cd.Key.IsActive">Saled</p>
                    </td>
                    <td>
                        <button ng-click="vm.removeCdKey(cdKey.gameCdKeyId)" class="glyphicon glyphicon-remove"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
